/* default elements */
:root {
  --purple: #7b08d0;
  --offBlack: #020202;
  --white: #ffffff;
  --creamWhite: #beb3b3;
  --darkBlue: #242734;
  --luminousGreen: #00d886;
  --grey: #707070;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--offBlack);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 2s;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 8rem;
  width: 100%;
  text-align: center;
}

h1::after {
  content: "";
  background: var(--purple);
  display: block;
  position: relative;
  bottom: 0.5rem;
  width: 25%;
  max-width: 9rem;
  height: 10px;
  border-radius: 5px;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: var(--white);
  z-index: 1;
  transition: 2s;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul a {
  text-decoration: none;
}
nav ul li {
  margin: 0 1rem 0 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--offBlack);
  transition: 2s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 80%;
  border-radius: 20px;
  transform: scaleX(0);
  height: 5px;
  bottom: -4px;
  left: 0;
  background-color: var(--purple);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p,
span form {
  font-family: "Montserrat", sans-serif;
}

span {
  background-color: var(--white);
  color: var(--offBlack);
  text-transform: capitalize;
}

/* mobile navigation */

.burgerM {
  cursor: pointer;
  display: none;
  margin: 1rem;
}

.burgerMFixed {
  position: fixed;
}
.line1,
.line2,
.line3 {
  position: relative;
  height: 0.2em;
  width: 2em;
  margin-bottom: 10px;
  background-color: var(--offBlack);
  border-radius: 3px;
}

.closebtn {
  display: none;
}

/* classes */
/* general classes */
.sectionHeader::after {
  content: "";
  background: var(--purple);
  display: block;
  position: relative;
  width: 30%;
  height: 10px;
  border-radius: 5px;
}

/* SplashPage */
.splashImage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splashImage::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: var(--luminousGreen);
}

.sunIcon,
.moonIcon {
  margin: 0.8rem 1rem 0 0;
}

.subHeading {
  position: relative;
  bottom: 8rem;
  font-size: 2rem;
  font-weight: 400;
}

/* subheading animation */

.text1 {
  animation: text1;
}

.text2 {
  animation: text2;
}
.text3 {
  animation: text3;
}
.text4 {
  animation: text4;
}

.text1,
.text2,
.text3,
.text4 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-timing-function: steps(15, end);
  animation-iteration-count: infinite;
}

.text1,
.text2 {
  animation-duration: 20s;
}

.text3,
.text4 {
  animation-duration: 15s;
}

.text1::after,
.text2::after,
.text3::after,
.text4::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(15, end);
}

/* @keyframes text3 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  30% {
    width: 7em;
  }
}

@keyframes text2 {
  30%,
  100% {
    width: 0;
  }
  60%,
  70% {
    width: 5.6em;
  }
} */

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10% {
    width: 5.2em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* end of animation classes */

.socialIcons {
  position: relative;
  bottom: 9rem;
  display: flex;
  gap: 0.5rem;
}

.socialIcons i {
  text-decoration: none;
  font-size: 2rem;
}

.lightMode {
  color: var(--offBlack);
}

.lightMode:hover {
  color: var(--purple);
}

/* about me section */

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMeHeader::after {
  left: 4.5rem;
}

.aboutMeContent {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.abilities span {
  border: 1px solid var(--grey);
  padding: 5px;
  height: fit-content;
}

.skills {
  display: flex;
  width: 16rem;
  flex-wrap: wrap;
}

.skills span {
  margin: 0.5rem 0.5rem 0 0;
}

.personalInfo {
  width: 30%;
  position: relative;
  top: 2.5rem;
}

.personalInfo img {
  width: 100%;
}

/* projects */

.projectsHeader::after {
  left: 3.5rem;
  top: 0.5rem;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.cardImage {
  width: 100%;
  height: auto;
}

/* contactMe */

.svgTriangle {
  position: absolute;
  fill: #ffffff;
  stroke: #ffffff;
  transition: 2s;
}
.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55rem;
  justify-content: space-evenly;
  background: #beb3b3;
  transition: 2s;
}

.contactContainer {
  position: relative;
  top: 6rem;
}

.contactMeHeader::after {
  left: 5.5rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.contactForm label {
  align-self: flex-start;
}

.contactForm label {
  margin: 0.5rem 0 0 0;
}

.contactForm input:not(:last-child) {
  width: 100%;
  transition: 2s;
}

.contactForm input:not(:nth-child(8)) {
  min-height: 30px;
}

.contactForm :nth-child(8) {
  padding: 5px 0 150px 0;
}

::placeholder {
  text-transform: capitalize;
}

.contactForm input:last-child {
  align-self: flex-end;
  background-color: var(--purple);
  height: 3rem;
  width: 6rem;
  margin: 0.5rem 0 0 0;
  border: none;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  position: relative;
  left: 1%;
}

.contactForm input:last-child:hover {
  border: white 2px solid;
}

/*  darkmode classes targeted by JS */

.darkMode,
.socialIconsDark,
.svgDarkMode,
.contactMeDark,
.contactFormDarkMode input:not(:last-child) {
  transition: 2s;
}
.darkMode {
  background-color: var(--offBlack);
  color: var(--white);
}
.darkModeText {
  color: var(--white);
}

.socialIconsDark {
  color: var(--white);
}

.socialIconsDark:hover {
  color: var(--purple);
}

.svgDarkMode {
  fill: var(--offBlack);
  stroke: var(--offBlack);
}

.contactMeDark {
  background-color: var(--darkBlue);
}

.contactFormDarkMode input:not(:last-child) {
  background-color: var(--offBlack);
  color: white;
  border: var(--grey) 1px solid;
}

.moonIcon {
  display: block;
  cursor: pointer;
}

.sunIcon {
  display: none;
  filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(100deg)
    brightness(200%) contrast(119%);
  cursor: pointer;
}

/*  media queries */
@media screen and (max-width: 641px) {
  h1 {
    font-size: 4rem;
    margin: 8rem;
  }
  .aboutMeContent {
    flex-direction: column;
    align-items: center;
  }
  .abilities {
    text-align: center;
  }
  .skills {
    justify-content: center;
  }
  .personalInfo {
    width: 80%;
  }

  .projectsContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .hover-underline-animation::after {
    left: unset;
  }
  .links:nth-child(2) {
    color: #00d886;
  }
}

@media screen and (max-width: 681px) {
  .burgerM {
    display: inline-block;
  }
  .moonIcon,
  .sunIcon {
    display: none !important;
  }

  .mobileNavFixed {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 10;
  }

  .sideBar {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 1.8rem;
  }
  .links {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .links li {
    color: white;
  }
  .closebtn {
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    font-size: 3rem;
    color: var(--white);
    padding: 0;
    margin: 0;
    align-self: flex-end;
  }

  /* mobile menu classes */
  .mobileWidth {
    width: 250px;
  }
  .mobileShift {
    overflow: hidden;
  }
  .burgerMenuHidden {
    display: none;
  }
}
